In [ ]:
import tokenize as tk
import pandas as pd
import numpy as np
import pandas as pd

In [76]:
def tokenize_file(file):
    with open(file, 'rb') as f:
        tokens = tk.tokenize(f.readline)
        t_type = t_name = t_start = t_stop = t_str = [] 
        for token in tokens:
            print(f"{token.type} ({tk.tok_name[token.type]}): {token.string}")
            t_type += [token.type]
            t_name += [tk.tok_name[token.type]]
            t_start += [token.start]
            t_stop += [token.end]
            t_str += [token.string]
            
        df = pd.DataFrame({
                'Token Type' : t_type,
                'Token Name' : t_name,
                'Start' : t_start,
                'Stop' : t_stop,
                'String' : t_str
            })
        return df

In [ ]:
def tfile():
    with open('test.py', 'rb') as f:
        tokens = tk.tokenize(f.readline)
        tlst = []
        for token in tokens:
            tlst += [token]
        return tlst

tfile()[0].

TokenInfo(type=65 (ENCODING), string='utf-8', start=(0, 0), end=(0, 0), line='')

In [73]:
tokenize_file('test.py')

65 (ENCODING): utf-8
1 (NAME): def
1 (NAME): say_hello
55 (OP): (
55 (OP): )
55 (OP): :
4 (NEWLINE):

5 (INDENT):
1 (NAME): print
55 (OP): (
3 (STRING): "Hello, World!"
55 (OP): )
4 (NEWLINE):

63 (NL):

6 (DEDENT):
1 (NAME): say_hello
55 (OP): (
55 (OP): )
4 (NEWLINE):
0 (ENDMARKER):

   Token Type Token Name      Start       Stop     String
0          65         65         65         65         65
1    ENCODING   ENCODING   ENCODING   ENCODING   ENCODING
2      (0, 0)     (0, 0)     (0, 0)     (0, 0)     (0, 0)
3      (0, 0)     (0, 0)     (0, 0)     (0, 0)     (0, 0)
4       utf-8      utf-8      utf-8      utf-8      utf-8
..        ...        ...        ...        ...        ...
95          0          0          0          0          0
96  ENDMARKER  ENDMARKER  ENDMARKER  ENDMARKER  ENDMARKER
97     (5, 0)     (5, 0)     (5, 0)     (5, 0)     (5, 0)
98     (5, 0)     (5, 0)     (5, 0)     (5, 0)     (5, 0)
99

[100 rows x 5 columns]

AttributeError: 'TokenInfo' object has no attribute 'exact_token_types'